p{
    font-size: 100%;
    font-family: MS UI Gothic;
    text-align: center;
}

h1{
    font-size: 200%;
    font-family: MS UI Gothic;
    text-align: center;
}

button{
    color: white;
    background-color: rgb(16, 101, 180);
    border-radius: 20px;
    font-size: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

textarea{
    width: 30%;
	height: 120px;
	font-family: MS UI Gothic;
    font-size: 100%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

input{
	height: 65%;
	font-family: MS UI Gothic;
    font-size: 100%;
    resize: none;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
     border: 1px solid #000000;
}
//------------------------------------------------

.banner{
    margin-top: 42%;
    position: relative;

    h1{
        font-size: 800%;
        font-family: MS UI Gothic;
        text-align: center;
    }


        .bannerP{
            font-size: 350%;
            text-align: center;
            color: gray;
            max-width: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    

    .smallButton{
        background-color: transparent;
        border-color: transparent;
        margin-top: 16%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        img{
            width: 5%;
        }
    }
}

@media only screen and (min-width: 1220px) {
    .banner{
        margin-top: 22%;
        position: relative;

        h1{
            font-size: 200%;
            font-family: MS UI Gothic;
            text-align: center;
        }        

        .bannerP{
            font-size: 300%;
            text-align: center;
            color: gray;
        }

            .bannerP{
                font-size: 150%;
                text-align: center;
                color: gray;
                max-width: 40%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        

        .smallButton{
            background-color: transparent;
            border-color: transparent;
            margin-top: 16%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 5%;
            }
        }
    }
}


@media only screen and (max-width: 1220px) {
.smallButtonMiddleUp{
    background-color: transparent;
    border-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70%;
    img{
        width: 5%;
    }
}

.galleryHeader{
    margin-top: 5%;
    position: relative;
    font-size: 800%;
}

.gallery {
        display: grid;
        grid-template-columns: auto ;
        top: 5%;
        position: relative;
        width: 100%;
            .galleryItem{
                width: 90%;
                margin-top: 0%;
                margin-bottom: 0%;
                margin-left: 5%;
                margin-right: 5%;

                .galleryItemI{
                    width: 90%;
                    border-radius: 8%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                    .galleryItemH{
                        color: black;
                        font-size: 350%;
                        margin-bottom: 0%;
                        margin-top: 2%;
                        font-family: MS UI Gothic;
                    }

                    .galleryItemP{
                        font-size: 250%;
                        color: gray;
                        text-align: center;
                        margin-bottom: 20%;
                        font-family: MS UI Gothic;
                    }
            }
    }
}

@media only screen and (min-width: 1220px) {

    .smallButtonMiddleUp{
        background-color: transparent;
        border-color: transparent;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        img{
            width: 5%;
        }
    }

    .galleryHeader{
        margin-top: 5%;
        position: relative;
        font-size: 200%;
    }

    .gallery{
        display: grid;
        grid-template-columns: auto auto;
        top: 20%;
        position: relative;
    
            .galleryItem{
                border-radius: 8%;
                text-align: center;
                color: gray;
    
                    .galleryItemH{
                        color: black;
                        font-size: 170%;
                    }

                    .galleryItemI{
                        width: 500px;
                        border-radius: 8%;
                    }
            }
    }
}

@media only screen and (min-width: 2080px) {

    .smallButtonMiddleUp{
        background-color: transparent;
        border-color: transparent;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        img{
            width: 5%;
        }
    }

    .galleryHeader{
        margin-top: 5%;
        position: relative;
        font-size: 200%;
    }

    .gallery{
        display: grid;
        grid-template-columns: auto auto auto;
        top: 20%;
        position: relative;
    
            .galleryItem{
                border-radius: 8%;
                text-align: center;
                color: gray;
    
                    .galleryItemH{
                        color: black;
                        font-size: 170%;
                    }

                    .galleryItemI{
                        width: 500px;
                        border-radius: 8%;
                    }
            }
    }
}

.smallButtonMiddleDown{
    background-color: transparent;
    border-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    img{
        width: 5%;
    }
}


@media only screen and (max-width: 1220px) {
    .bottom{
        position: relative;
        margin-top: 80%;

        h1{
            font-size: 800%;
        }

        .smallButtonUp{
            background-color: transparent;
            border-color: transparent;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 13%;
            img{
                width: 5%;
            }
        }

        textarea{
            font-size: 300%;
            height: 300px;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            box-sizing: border-box;   
        }

        button{
            font-size: 400%;
            margin-top: 3%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .legal{
            font-size: 100%;
        }

        .buttonUp{
            margin-top: 1%;
            color: transparent;
            border: 0px solid black;
            border-radius: 0px;
            background-color: transparent;
            background-image: none;
            margin-bottom: 15%;
            width: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50%;

                .buttonI{
                    width: 100px;
                }
        }
    }    
}

@media only screen and (min-width: 1220px) {
    .bottom{
        position: relative;
        margin-top: 20%;

        .smallButtonUp{
            background-color: transparent;
            border-color: transparent;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5%;
            img{
                width: 5%;
            }
        }

        button{
            font-size: 300%;
            margin-top: 3%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .legal{
            font-size: 100%;
        }

            .buttonUp{
                margin-top: 15%;
                color: transparent;
                border: 0px solid black;
                border-radius: 0px;
                background-color: transparent;
                background-image: none;
                margin-bottom: 5%;
                width: 100px;
                display: block;
                margin-left: auto;
                margin-right: auto;

                    .buttonI{
                        width: 100px;
                    }
            }
    }    
}
