p{
    font-size: 100%;
    font-family: MS UI Gothic;
    text-align: center;
}

h1{
    font-size: 200%;
    font-family: MS UI Gothic;
    text-align: center;
}

button{
    color: white;
    background-color: rgb(34, 98, 34);
    border-radius: 20px;
    font-size: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

textarea{
    width: 30%;
	height: 120px;
	font-family: MS UI Gothic;
    font-size: 100%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

input{
	height: 65%;
	font-family: MS UI Gothic;
    font-size: 100%;
    resize: none;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
     border: 1px solid #000000;
}
//------------------------------------------------
@media only screen and (min-width: 1220px){
    .topBar{
        display: grid;
        grid-template-columns: auto auto auto;            
            .topBarP{
                float: left;
                font-size: 120%;
                margin-top: 8px;

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f1f1f1;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;

                        a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        }

                        &.dropdown-contentE{
                            display: block;
                            position: absolute;
                            background-color: #f1f1f1;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                        }
                    }

                
            }
    }
}

.banner{
    top: 300px;
    position: relative;

    @media only screen and (min-width: 1220px) {
        .bannerP{
            font-size: 150%;
            text-align: center;
            color: gray;
            max-width: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .bannerP{
        font-size: 150%;
        text-align: center;
        color: gray;
    }
}

.galleryHeader{
    top: 450px;
    position: relative;    
}

@media only screen and (min-width: 1220px) {
    .galleryHeader{
        top: 490px;
        position: relative;
    }
}

.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    top: 500px;
    position: relative;

        .galleryItem{
            border-radius: 8%;
            text-align: center;
            color: gray;

                .galleryItemH{
                    color: black;
                    font-size: 170%;
                }
        }
}

@media only screen and (max-width: 1220px) {
    .gallery {
        display: grid;
        grid-template-columns: auto ;
        top: 200px;
        position: relative;
        width: 100%;
    
            .galleryItem{
                border-radius: 8%;
                text-align: center;
                color: gray;
    
                    .galleryItemH{
                        color: black;
                        font-size: 170%;
                    }
            }
    }
  }

.midSiteBanner{
    position: relative;
    top: 300px;
    text-align: center;
    font-size: 350%;
    border-style:solid;
    border-radius: 10px;
    width: 82%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.bottom{
    position: relative;
    top: 400px;

        .email{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 60% 5%;

            input{
                margin-left: 58%;
            }
        }

        @media only screen and (max-width: 1220px) {
            textarea{
                font-size: 300%;
                width: 100%;
                height: 300px;
                margin: 0%;         
                box-sizing: border-box;   
            }

            .email{
                margin-top: 30px;
                display: grid;
                grid-template-columns: auto;
    
                input{
                    font-size: 300%;
                    width: 100%;
                    height: 100%;
                    margin: 0%;
                    box-sizing: border-box;   
                }

                button{
                    font-size: 300%;
                    margin-top: 3%;
                }
            }
        }

        .buttonUp{
            margin-top: 100px;
            color: transparent;
            border: 0px solid black;
            border-radius: 0px;
            background-color: transparent;
            background-image: none;
            margin-bottom: 20px;
            width: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;

                .buttonI{
                    width: 100px;
                }
        }
}

.address{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 10px;

        .addressChild{
            margin-left: 30px;   
            margin-bottom: 70px;

                .addressH{
                    color: black;
                    font-size: 120%;
                }
                
                .addressP{
                    color: gray;
                    font-size: 100%;
                }
        }
}

@media only screen and (max-width: 1220px){
    .address{
        display: grid;
        grid-template-columns: auto;

            .addressChild{    
                    .addressH{
                        color: black;
                        font-size: 220%;
                    }
                    
                    .addressP{
                        color: gray;
                        font-size: 200%;
                    }
            }
    }
}